{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <div class="content-section">
      <div class="media">
        {% if user.profile.image %}
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        {% else %}
        <img class="rounded-circle account-img" src="{% static 'users/img/default_profile.jpg' %}">
        {% endif %}
        <div class="media-body">
            <h2 class="account-heading">{{ object.stock_name }}</h2>
            <h2 class="text-secondary">{{ object.stock_ticker }}: ${{ object.current_price }}</h2>
            <h2 class="text-secondary"> MAX {{ object.percentage_change_YTD }}%</h2>
            <h2 class="text-secondary"> 1 YR {{ object.percentage_change_1Y }}% </h2>
            <h2 class="text-secondary"> 3 YR {{ object.percentage_change_3Y }}%</h2>
        </div>
          {% if object.owner == user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'StockUpdateView' object.id %}">Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'StockDeleteView' object.id %}">Delete</a>
            </div>
          {% endif %}
      </div>
    </div>
{% endblock content %}