<div class="media-body">
    {% for stock in object_list %}
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div style="width: 35%; height: 7%; float: left; ">     
                    <h2><a href="{% url 'StockDetailView' stock.id %}" class=" mb-0 font-weight-bold text-gray-800 ">
                        {{ stock.stock_ticker }}: </a>
                    </div>
                    <div style="margin-left: 20%; height: 7%; "> 
                    </h2><h3 class="text-xs font-weight-bold text-success text-uppercase mb-1 ">
                        +{{stock.percentage_change_last_sold}}%</h3>
                    </div>
                    
                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

