{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load render_partial %}
{% load static %}

{% block content %}
    <div class="content-section">
      <div class="media">
        {% if user.profile.image %}
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        {% else %}
        <img class="rounded-circle account-img" src="{% static 'users/img/default_profile.jpg' %}">
        {% endif %}
        <div class="media-body">
            {% for stock in object_list %}
           <!-- <div class="col-xl-3 col-md-6 mb-4"> -->
              <div class="card border-left-primary shadow h-5 py-2" style="width:100%">
                  
                      <div class="row no-gutters salign-items-center" style="width:50%;">
                          <div class="col mr-2">
                              <div ><a style="width: 25%; height: 10%; float: left;" class="h5 mb-0 font-weight-bold text-gray-800" href="{% url 'StockDetailView' stock.id %}">{{stock.stock_ticker}}:</a></div>
                              <div style="margin-left: 25%; height: 10%; " class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                  ${{stock.current_price}}</div>
                          </div>
                      </div>
              </div>
          <!--</div>-->
            
            {% endfor %}
        </div>
      </div>
    </div>

    <div style="width: 100%;">
      <div style="width: 50%; height: 100px; float: left; "> 
        <h2 style="text-align:center">Sell List</h2>
        {% render_partial 'stock.views.StockList20Inc' %}
      </div>
      <div style="margin-left: 50%; height: 100px; "> 
        <h2 style="text-align:center">Buy List</h2>
        {% render_partial 'stock.views.StockListBuyThresh' %}
      </div>
  </div>
    
    
{% endblock content %}
