{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section">
        <form method = "POST">
                {% csrf_token %}
                <fieldset class = "form-group">
                    <legend class = "border-bottom mb-4">Stock</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class = "form-group">
                    <button class = "btn btn-outline-info" type = "submit">Add Stock</button>
                </div>
        </form>
    </div>
{% endblock content %}